#!/bin/bash

ip_address="{{ floating_ip }}"

# Fonksiyonlar
check_haproxy_status() {
    if sudo service haproxy status | grep -q "running"; then
        haproxy_status="active"
    else
        haproxy_status="inactive"
    fi
}

start_haproxy() {
    echo "Haproxy başlatılıyor..."
    sudo service haproxy start
    haproxy_status="active"
}

stop_haproxy() {
    echo "Haproxy durduruluyor..."
    sudo service haproxy stop
    haproxy_status="inactive"
}

# Ana döngü
while true; do
    if ip a | grep -wq "$ip_address"; then
        check_haproxy_status
        if [ "$haproxy_status" == "inactive" ]; then
            start_haproxy
        fi
    else
        check_haproxy_status
        if [ "$haproxy_status" == "active" ]; then
            stop_haproxy
        fi
    fi

    sleep 1
done
